<% include partials/header %>
<div class="container-fluid" style="height: 100vh; background: ">
   
<% include partials/navbar %>
 <div>
    
            <div class="container-fluid align-self-center">
                    <div class="input-group">
                        <div class="custom-file">
                          <input type="text" class="form-control">  
                        </div>
                            
                        <div class="input-group-append">
                           <button class="btn btn-success">Search</button> 
                        </div>
                    </div>
            </div>
                    
            <div class="container bg-light" style="margin-top: 10vh">
                <div class="text-center">
                    <h2 class="h2 text-primary">Big Center</h2>
                    <p class="small">Tracking&nbsp;Number:&nbsp;130812983</p>
                </div>
                
                <p class="p-1">
                    <strong>Needs&nbsp;Acceptance:</strong> Bear claw wafer caramels macaroon. Gummies chupa chups pudding cheesecake
                </p>
                <p class="p-1">
                    <strong>Okay&nbsp;to&nbsp;Accept&nbsp;SRs&nbsp;over&nbsp;the&nbsp;phone?</strong> Bear claw wafer caramels macaroon. Gummies chupa chups pudding cheesecake
                </p>
            </div>       
                    
            <div class="container bg-light" style="margin-top: 5vh">
                <p class="p-1">
                    <strong>Trades:</strong>&nbsp;Bear claw wafer caramels macaroon.
                </p>
                <p class="p-1">
                    <strong>NTE:</strong> Bear claw wafer caramels macaroon. Gummies chupa chups pudding cheesecake
                </p>
                <p class="p-1">
                    <strong>Okay&nbsp;to&nbsp;Sub?</strong> Bear claw wafer caramels macaroon. Gummies chupa chups pudding cheesecake
                </p>
                <p class="p-1">
                    <strong>CAMS</strong> Bear claw wafer caramels macaroon. Gummies chupa chups pudding cheesecake
                </p>
            </div>
            
            <div class="container bg-light" style="margin-top: 5vh">
                <p class="p-1">
                    <strong>CC:</strong>&nbsp;Bear claw wafercaramels.macaroon.
                </p>
                <p class="p-1">
                    <strong>Website:</strong> Bear.claw.wafer@caramels
                </p>
                <p class="p-1">
                    <strong>Okay&nbsp;to&nbsp;Sub?</strong> Bear claw wafer caramels macaroon. Gummies chupa chups pudding cheesecake
                </p>
                <p class="p-1">
                    <strong>Special Instructions:</strong>
                    Bear claw wafer caramels macaroon. Gummies chupa chups pudding cheesecake. Bear claw cotton candy croissant sesame snaps brownie cupcake chocolate. Soufflé tiramisu macaroon chocolate sweet gummies. Wafer candy jelly-o croissant pie cake chocolate cake sugar plum. Pudding lemon drops cupcake pastry marzipan topping apple pie pastry. Chupa chups jelly macaroon. Carrot cake donut wafer toffee. Tart wafer oat cake soufflé jujubes pie danish brownie apple pie. Apple pie jelly-o sesame snaps bonbon. Gummi bears halvah lemon drops marzipan. Cake sugar plum topping cookie chocolate bar jelly soufflé. Fruitcake dessert apple pie pie. Lollipop pudding chocolate bar muffin.
                    <br /><br />
                    Donut gummi bears pastry jujubes pastry donut. Caramels sesame snaps ice cream. Pastry jelly-o soufflé candy canes pastry toffee liquorice muffin lemon drops. Liquorice sesame snaps cake bear claw macaroon powder oat cake jujubes cheesecake. Icing lollipop dragée tootsie roll jelly. Jelly-o cupcake soufflé biscuit. Jujubes gummi bears cotton candy cookie tiramisu cake cake marzipan. Cupcake toffee toffee. Chocolate croissant pastry chocolate oat cake marzipan. Cake ice cream sweet topping jelly jelly beans cake ice cream. Dessert biscuit fruitcake brownie bear claw chocolate bar fruitcake sesame snaps sesame snaps. Brownie marzipan jujubes marzipan lemon drops apple pie.
                </p>
            </div>  
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <!--<div class="container-fluid bg-light p-2 shadow-sm table-responsive" style="text-align: right;">-->

                    <!--    <table class="table table-bordered rounded d-relative" style="min-width: 1400px; align-self: center">-->
                    <!--            <thead class="bg-dark text-white text-center">-->
                    <!--                <th class="">Client</th>-->
                    <!--                <th class="">Job Owner</th>-->
                    <!--                <th class="">Tracking<br />Number</th>-->
                    <!--                <th class="">Needs<br />Acceptance?</th>-->
                    <!--                <th class="">Ok to accept SR<br />over the phone?</th>-->
                    <!--                <th class="">Trades</th>-->
                    <!--                <th class="">NTE</th>-->
                    <!--                <th class="">Ok to sub?</th>-->
                    <!--                <th class="">CAMS</th>-->
                    <!--                <th class="">CC</th>-->
                    <!--                <th class="">Website</th>-->
                    <!--                <th class="" style="min-width: 300px">Special Instructions</th>-->
                    <!--            </thead>-->
                    <!--            <tbody class="bg-light">-->
                    <!--                <% client.forEach(function(item) { %>-->
                    <!--                <tr>-->
                    <!--                    <td class="p-4 text-center"><%= item.client %></td>-->
                    <!--                    <td class="p-4 text-center"><%= item.jobOwner %></td>-->
                    <!--                    <td class="p-4 text-center"><%= item.trackingNo %></td>-->
                    <!--                    <td class="p-4 text-center"><%= item.acceptance %></td>-->
                    <!--                    <td class="p-4 text-center"><%= item.sr %></td>-->
                    <!--                    <td class="p-4 text-center"><%= item.trades %></td>-->
                    <!--                    <td class="p-4 text-center"><%= item.nte %></td>-->
                    <!--                    <td class="p-4 text-center"><%= item.sub %></td>-->
                    <!--                    <td class="p-4 text-center"><%= item.cams %></td>-->
                    <!--                    <td class="p-4 text-center"><%= item.cc %></td>-->
                    <!--                    <td class="p-4 text-center"><%= item.website %></td>-->
                    <!--                    <td class="p-4 text-center" style="min-width: 300px"><%= item.instructions %></td>-->
                    <!--                </tr>    -->
                    <!--              <%  }); %>-->
                                    
                    <!--            </tbody>-->
                    <!--        </table>-->
                    <!--</div>-->
             </div>
                
            </div>
<% include partials/footer %>